body {
    background-color:#505050;
}

.login
{
    text-align:center;
    width:50%;
    background-color:white;
    border: 5px solid black;
    border-radius:15px;
    font-family:Consolas;
    font-size:18px;
}
